################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/sistema_de_tesoreria/BussinessLayer/bin
