<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SisCompass.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SisCompass.Properties.Settings>
            <setting name="UsuarioBD" serializeAs="String">
                <value>UsuarioST</value>
            </setting>
            <setting name="PassBD" serializeAs="String">
                <value>Credomatic</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>SISTEMA TESORERIA</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>10.122.3.127,3033</value>
            </setting>
        </SisCompass.Properties.Settings>
    </userSettings>
</configuration>