<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SiAut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SiAut.Properties.Settings>
            <setting name="HoraInicio" serializeAs="String">
                <value>01/01/2013 08:00:00</value>
            </setting>
            <setting name="HoraFinalizacion" serializeAs="String">
                <value>01/01/2013 18:00:00</value>
            </setting>
            <setting name="ServidorAS400" serializeAs="String">
                <value>CRI400A</value>
            </setting>
            <setting name="UsuarioBD" serializeAs="String">
                <value>UsuarioST</value>
            </setting>
            <setting name="PassBD" serializeAs="String">
                <value>Credomatic</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>SISTEMA TESORERIA</value>
            </setting>
            <setting name="ServidorBD" serializeAs="String">
                <value>BCOCURSERV3P\ASGARD</value>
            </setting>
        </SiAut.Properties.Settings>
    </userSettings>
</configuration>